<section class="classes" id="classes">
  <div class="container">
    <h2 class="title classes__title">Мастер-классы</h2>

    <div class="classes-grid classes__wrap">
      <div class="classes__img"></div>

      <div class="classes__main">
        <div class="classes-period">
          <span class="classes-period__date date classes__date">8 июня</span>
          <span class="classes-period__time time classes__time">15:00</span>
        </div>
        <h4 class="subtitle classes__subtitle">Пленка для начинающих</h4>
        <p class="classes__descr text">
          Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: семантический разбор внешних противодействий, в своём классическом представлении.
        </p>
        <a class="btn orange-btn classes__btn" href="#">Узнать больше</a>
      </div>

      <div class="classes-list__wrap classes-grid__list">
        <ul class="classes-list-grid classes__list">
          <li class="class-list__item">
            <div class="classes-list-card-grid class-card">
              <picture class="class-card__picture">
                <source class="class-card__img" srcset="img/class-sm-1-320.jpg" media="(max-width:767px)">
                <source class="class-card__img" srcset="img/class-sm-1-768.jpg" media="(max-width:1023px)">
                <source class="class-card__img" srcset="img/class-sm-1-1024.jpg" media="(max-width:1199px)">
                <img src="img/class-sm-1.jpg" alt="картинка" class="class-card__img">
              </picture>
              <div class="class-card__content">
                <div class="class-card__period class-card-period">
                  <span class="class-card-period__date date classes__date">9 июня</span>
                  <span class="class-card-period__time time classes__time">15:00</span>
                </div>
                <h4 class="subtitle class-card__title">Ретушь. Продвинутый уровень</h4>
              </div>
            </div>
          </li>

          <li class="class-list__item">
            <div class="classes-list-card-grid class-card">
              <picture class="class-card__picture">
                <source class="class-card__img" srcset="img/class-sm-3-320.jpg" media="(max-width:767px)">
                <source class="class-card__img" srcset="img/class-sm-3-768.jpg" media="(max-width:1023px)">
                <source class="class-card__img" srcset="img/class-sm-3-1024.jpg" media="(max-width:1199px)">
                <img src="img/class-sm-3.jpg" alt="картинка" class="class-card__img">
              </picture>
              <div class="class-card__content">
                <div class="class-card__period class-card-period">
                  <span class="class-card-period__date date classes__date">11 июня</span>
                  <span class="class-card-period__time time classes__time">15:00</span>
                </div>
                <h4 class="subtitle class-card__title">Макросъемка. Проблемы и нюансы</h4>
              </div>
            </div>
          </li>

          <li class="class-list__item">
            <div class="classes-list-card-grid class-card">
              <picture class="class-card__picture">
                <source class="class-card__img" srcset="img/class-sm-2-320.jpg" media="(max-width:767px)">
                <source class="class-card__img" srcset="img/class-sm-2-768.jpg" media="(max-width:1023px)">
                <source class="class-card__img" srcset="img/class-sm-2-1024.jpg" media="(max-width:1199px)">
                <img src="img/class-sm-2.jpg" alt="картинка" class="class-card__img">
              </picture>
              <div class="class-card__content">
                <div class="class-card__period class-card-period">
                  <span class="class-card-period__date date classes__date">10 июня</span>
                  <span class="class-card-period__time time classes__time">16:00</span>
                </div>
                <h4 class="subtitle class-card__title">Портретная съемка. Свет</h4>
              </div>
            </div>
          </li>

          <li class="class-list__item">
            <div class="classes-list-card-grid class-card">
              <picture class="class-card__picture">
                <source class="class-card__img" srcset="img/class-sm-4-320.jpg" media="(max-width:767px)">
                <source class="class-card__img" srcset="img/class-sm-4-768.jpg" media="(max-width:1023px)">
                <source class="class-card__img" srcset="img/class-sm-4-1024.jpg" media="(max-width:1199px)">
                <img src="img/class-sm-4.jpg" alt="картинка" class="class-card__img">
              </picture>
              <div class="class-card__content">
                <div class="class-card__period class-card-period">
                  <span class="class-card-period__date date classes__date">13 июня</span>
                  <span class="class-card-period__time time classes__time">18:00</span>
                </div>
                <h4 class="subtitle class-card__title">Творческая ретушь для начинающих</h4>
              </div>
            </div>
          </li>
        </ul>
      </div>


    </div>
  </div>
</section>
