<footer class="footer">
  <div class="container footer__container footer-grid">
    <div class="footer__copyright copyright">
      <a href="#" class="logo__link copyright__logo">
        <picture class="copyright__pic">
          <img src="img/logo.svg" alt="картинка" class="logo__img copyright__img">
        </picture>
      </a>
      <p class="text copyright__text">Фотостудия High pass® 2018-2020</p>
    </div>

    <div class="footer-quote">
      <div class="footer-quote__content">
        <p class="text footer-quote__text">Которая из моих фотографий самая любимая?</p>
        <p class="text footer-quote__text">Та, которую я собираюсь снять завтра.</p>
        <p class="text footer-quote__text">© Имоджен Каннингем</p>
      </div>
    </div>

    <div class="footer-social footer-grid__social">
      <p class="text footer-social__text">Больше интересного:</p>
      <ul class="footer-social__list social">
        <li class="social__item footer-social__item">
          <a href="#" class="social__link">
            <svg class="social__svg" viewbox="0 0 30 30">
              <use xlink:href="img/sprite.svg#inst"></use>
            </svg>
          </a>
        </li>
        <li class="social__item footer-social__item">
          <a href="#" class="social__link">
            <svg class="social__svg" viewbox="0 0 30 30">
              <use xlink:href="img/sprite.svg#fb"></use>
            </svg>
          </a>
        </li>
        <li class="social__item footer-social__item">
          <a href="#" class="social__link">
            <svg class="social__svg" viewbox="0 0 30 30">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

  </div>
</footer>
