<header class="header">
  <div class="header-top">
    <div class="container header-top__container header-grid">
      <div class="header-top__logo">
        <a class="logo__link" href="#">
          <picture class="about__pic">
            <img class="logo__img" src="img/logo.svg" alt="логотип">
          </picture>
        </a>
      </div>
      <nav class="header-top__nav nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#about">О студии</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#projects">Наши проекты</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#services">Услуги</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#classes">Мастер-классы</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#contacts">Контакты</a>
          </li>
        </ul>
      </nav>
      <ul class="header-top__social social">
        <li class="social__item">
          <a class="social__link" href="#" aria-label="перейти в инстаграмм">
            <svg class="social__svg" viewbox="0 0 30 30">
              <use xlink:href="img/sprite.svg#inst"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" aria-label="перейти в фейсбук">
            <svg class="social__svg" viewbox="0 0 30 30" >
              <use xlink:href="img/sprite.svg#fb"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" aria-label="перейти вконтакте">
            <svg class="social__svg" viewbox="0 0 30 30" >
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
      </ul>

      <div class="for-tablet header-top__mobile">
        <div class="header-phone phone">
          <a class="phone__number" href="tel:+7(495)42423532">
            <svg class="phone__svg" viewbox="0 0 18 18">
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            <span>+7 (495) 42-423-532</span>
          </a>
        </div>

        <div class="header-search search">
          <form class="header-search__form" action="#">
            <button class="header-search__btn btn-reset" type="submit" aria-label="Поиск по сайту">
              <svg class="header-search__svg" viewbox="0 0 17 17">
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="header-bottom">
    <div class="container header-bottom__container">
      <button class="burger for-mobile">
        <span class="burger__line"></span>
      </button>
      <div class="header-phone phone">
        <a class="phone__number" href="tel:+7(495)42423532">
          <svg class="phone__svg" viewbox="0 0 18 18">
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          <span>+7 (495) 42-423-532</span>
        </a>
      </div>
      <div class="header-search header-search--bottom search">
        <form class="header-search__form" action="#">
          <button class="header-search__btn btn-reset" type="submit" aria-label="Поиск по сайту">
            <svg class="header-search__svg" viewbox="0 0 17 17">
              <use xlink:href="img/sprite.svg#search"></use>
            </svg>
          </button>
          <input class="header-search__input input-reset" type="text" placeholder="Что будем искать?">
          <span class="header-search__underline"></span>
        </form>
      </div>

      <nav class="mobile-nav for-tablet">
        <ul class="mobile-nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#about">О студии</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#projects">Наши проекты</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#services">Услуги</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#classes">Мастер-классы</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#contacts">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
