<section class="hero">
  <h1 class="visually-hidden">Фото студия High Pass</h1>
  <div class="container hero-grid">
    <div class="hero-grid--item hero-grid__item--lg hero__card--lg hero-card">
      <div class="hash hero__hash">
        <p class="hash__text">#мастеркласс</p>
      </div>
      <p class="text hero-card__text">Мастер-класс от Игоря Робова</p>
      <h2 class="title hero-card__title">Неоновый фотосет 2.0 7&nbsp;июля 20:00</h2>
      <a class="orange-btn hero-card__btn" href="#">Узнать больше</a>
    </div>

    <div class="hero-grid--item hero-grid__item--md hero__card--md hero-card">
      <h3 class="title hero__title">
        Работы участников предыдущего мастер-класса
      </h3>
      <picture class="hero-card__pic">
        <source  class="hero-card__img" srcset="img/hero-medium-320.jpg" media="(max-width:767px)">
        <source  class="hero-card__img" srcset="img/hero-medium-768.jpg" media="(max-width:1023px)">
        <source  class="hero-card__img" srcset="img/hero-medium-1024.jpg" media="(max-width:1199px)">
        <img class="hero-card__img" src="img/hero-medium.jpg" alt="картинка">
      </picture>
    </div>

    <div class="hero-grid--item hero-grid__item--sm hero__card--sm hero-card">
      <picture class="hero-card__pic">
        <source  class="hero-card__img" srcset="img/hero-small-1-320.jpg" media="(max-width:767px)">
        <source  class="hero-card__img" srcset="img/hero-small-1-768.jpg" media="(max-width:1023px)">
        <source  class="hero-card__img" srcset="img/hero-small-1-1024.jpg" media="(max-width:1199px)">
        <img class="hero-card__img" src="img/hero-small-1.jpg" alt="картинка">
      </picture>
    </div>

    <div class="hero-grid--item hero-grid__item--sm hero__card--sm">
      <picture class="hero-card__pic">
        <source  class="hero-card__img" srcset="img/hero-small-2-320.jpg" media="(max-width:767px)">
        <source  class="hero-card__img" srcset="img/hero-small-2-768.jpg" media="(max-width:1023px)">
        <source  class="hero-card__img" srcset="img/hero-small-2-1024.jpg" media="(max-width:1199px)">
        <img class="hero-card__img" src="img/hero-small-2.jpg" alt="картинка">
      </picture>
    </div>
  </div>
  </section>
