<section class="proj" id="projects">
  <div class="container proj__container">
    <h2 class="title proj__title">
      Наши проекты
    </h2>

    <div class="proj-grid proj-grid-1 proj__wrap proj__wrap--active" data-target="proj-1">
      <div class="proj-grid__item--lg proj-grid__1--lg">
        <article class="proj__card--lg proj-card">
          <div class="proj-card__hash hash">
            <p class="hash__text">#fuji</p>
          </div>

          <picture class="proj-card__picture--lg">
            <source  class="proj-card__img--lg" srcset="img/project-1-lg-1-320.jpg" media="(max-width:767px)">
            <source  class="proj-card__img--lg" srcset="img/project-1-lg-1-768.jpg" media="(max-width:1023px)">
            <source  class="proj-card__img--lg" srcset="img/project-1-lg-1-1024.jpg" media="(max-width:1199px)">
            <img src="img/project-1-lg-1.jpg" alt="картинка" class="proj-card__img--lg">
          </picture>

          <div class="proj-card__content proj-card__content--lg">
            <h3 class="proj-card__title title">Cемантический разбор</h3>
            <p class="proj-card__text proj-card__text--lg text">
              В рамках спецификации современных стандартов, интерактивные прототипы
            </p>
            <p class="proj-card__date proj-card__date--lg date">9 апреля</p>
            <button class="btn trnsp-btn proj-card__btn">О проекте</button>
          </div>
        </article>
      </div>

      <div class="proj-grid__item--lg proj-grid__1--lg">
        <article class="proj__card--lg proj-card">
          <div class="proj-card__hash hash">
            <p class="hash__text">#проектзабвение</p>
          </div>

          <picture class="proj-card__picture--lg">
            <source  class="proj-card__img--lg" srcset="img/project-1-lg-2-320.jpg" media="(max-width:767px)">
            <source  class="proj-card__img--lg" srcset="img/project-1-lg-2-768.jpg" media="(max-width:1023px)">
            <source  class="proj-card__img--lg" srcset="img/project-1-lg-2-1024.jpg" media="(max-width:1199px)">
            <img src="img/project-1-lg-2.jpg" alt="картинка" class="proj-card__img--lg">
          </picture>

          <div class="proj-card__content proj-card__content--lg">
            <h3 class="proj-card__title title">Забвение</h3>
            <p class="proj-card__text text proj-card__text--lg">
              Играет важную роль в формировании глубокомысленных рассуждений
            </p>
            <p class="proj-card__date proj-card__date--lg date">20 марта</p>
            <button class="btn trnsp-btn proj-card__btn">О проекте</button>
          </div>
        </article>
      </div>

      <div class="proj-grid__item--md proj-grid__1--md">
        <article class="proj__card--md proj-card">
          <div class="proj-card__hash hash">
            <p class="hash__text">#ретушь</p>
          </div>

          <picture class="proj-card__picture--md">
            <source  class="proj-card__img--md" srcset="img/project-1-md-1-320.jpg" media="(max-width:767px)">
            <source  class="proj-card__img--md" srcset="img/project-1-md-1-768.jpg" media="(max-width:1023px)">
            <source  class="proj-card__img--md" srcset="img/project-1-md-1-1024.jpg" media="(max-width:1199px)">
            <img src="img/project-1-md-1.jpg" alt="картинка" class="proj-card__img--md">
          </picture>

          <div class="proj-card__content proj-card__content--md">
            <h3 class="proj-card__title title">Забвение</h3>
            <p class="proj-card__text text">
              Как принято считать, многие известные личности и по сей день остаются уделом либералов...
            </p>
            <p class="proj-card__date proj-card__date--md date">9 марта</p>
            <button class="btn trnsp-btn proj-card__btn">О проекте</button>
          </div>
        </article>
      </div>

      <div class="proj-grid__item--md proj-grid__1--md">
        <article class="proj__card--md proj-card">
          <div class="proj-card__hash hash">
            <p class="hash__text">#портрет</p>
          </div>

          <picture class="proj-card__picture--md">
            <source  class="proj-card__img--md" srcset="img/project-1-md-2-320.jpg" media="(max-width:767px)">
            <source  class="proj-card__img--md" srcset="img/project-1-md-2-768.jpg" media="(max-width:1023px)">
            <source  class="proj-card__img--md" srcset="img/project-1-md-2-1024.jpg" media="(max-width:1199px)">
            <img src="img/project-1-md-2.jpg" alt="картинка" class="proj-card__img--md">
          </picture>

          <div class="proj-card__content proj-card__content--md">
            <h3 class="proj-card__title title">Забвение</h3>
            <p class="proj-card__text text">
              С учётом сложившейся международной обстановки, новая модель организационной...
            </p>
            <p class="proj-card__date proj-card__date--md date">1 марта</p>
            <button class="btn trnsp-btn proj-card__btn">О проекте</button>
          </div>
        </article>
      </div>

      <div class="proj-grid__item--sm proj-grid__1--sm">
        <article class="proj__card--sm proj-card">
          <div class="proj-card__hash hash">
            <p class="hash__text">#пейзаж</p>
          </div>
          <picture class="proj-card__picture--sm">
            <source  class="proj-card__img--sm" srcset="img/project-1-sm-1-320.jpg" media="(max-width:767px)">
            <source  class="proj-card__img--sm" srcset="img/project-1-sm-1-768.jpg" media="(max-width:1023px)">
            <source  class="proj-card__img--sm" srcset="img/project-1-sm-1-1024.jpg" media="(max-width:1199px)">
            <img src="img/project-1-sm-1.jpg" alt="картинка" class="proj-card__img--sm">
          </picture>

          <div class="proj-card__content proj-card__content--sm">
            <h3 class="proj-card__title title">Забвение</h3>
            <p class="proj-card__text text">
              Синтетически, смешаны с не уникальными данными до степени...
            </p>
            <p class="proj-card__date proj-card__date--sm date">16 июня</p>
            <button class="btn trnsp-btn proj-card__btn">О проекте</button>
          </div>

        </article>
      </div>

      <div class="proj-grid__item--sm proj-grid__1--sm">
        <article class="proj-card proj__card--sm">
          <div class="proj-card__hash hash">
            <p class="hash__text">#портрет</p>
          </div>
          <picture class="proj-card__picture--sm">
            <source  class="proj-card__img--sm" srcset="img/project-1-sm-2-320.jpg" media="(max-width:767px)">
            <source  class="proj-card__img--sm" srcset="img/project-1-sm-2-768.jpg" media="(max-width:1023px)">
            <source  class="proj-card__img--sm" srcset="img/project-1-sm-2-1024.jpg" media="(max-width:1199px)">
            <img src="img/project-1-sm-2.jpg" alt="картинка" class="proj-card__img--sm">
          </picture>

          <div class="proj-card__content proj-card__content--sm">
            <h3 class="proj-card__title title">Забвение</h3>
            <p class="proj-card__text text">
              В своём стремлении улучшить опыт мы упускаем, что явные...
            </p>
            <p class="proj-card__date proj-card__date--sm date">28 мая</p>
            <button class="btn trnsp-btn proj-card__btn">О проекте</button>
          </div>
        </article>
      </div>


      <div class="proj-grid__item--sm proj-grid__1--sm">
        <article class="proj-card proj__card--sm">
          <div class="proj-card__hash hash">
            <p class="hash__text">#предмет</p>
          </div>
          <picture class="proj-card__picture--sm">
            <source  class="proj-card__img--sm" srcset="img/project-1-sm-3-320.jpg" media="(max-width:767px)">
            <source  class="proj-card__img--sm" srcset="img/project-1-sm-3-768.jpg" media="(max-width:1023px)">
            <source  class="proj-card__img--sm" srcset="img/project-1-sm-3-1024.jpg" media="(max-width:1199px)">
            <img src="img/project-1-sm-3.jpg" alt="картинка" class="proj-card__img--sm">
          </picture>

          <div class="proj-card__content proj-card__content--sm">
            <h3 class="proj-card__title title">Забвение</h3>
            <p class="proj-card__text text">
              Равным образом, высокое качество позиционных...
            </p>
            <p class="proj-card__date proj-card__date--sm date">14 мая</p>
            <button class="btn trnsp-btn proj-card__btn">О проекте</button>
          </div>

        </article>
      </div>
    </div>

    <div class="proj-grid proj-grid-2 proj__wrap visually-hidden" data-target="proj-2">
      <div class="proj-grid__item--lg proj-grid__2--lg">
        <article class="proj__card--lg proj-card">
          <div class="proj-card__hash hash">
            <p class="hash__text">#портрет</p>
          </div>

          <picture class="proj-card__picture--lg">
            <source  class="proj-card__img--lg" srcset="img/project-2-lg-1-320.jpg" media="(max-width:767px)">
            <source  class="proj-card__img--lg" srcset="img/project-2-lg-1-768.jpg" media="(max-width:1023px)">
            <source  class="proj-card__img--lg" srcset="img/project-2-lg-1-1024.jpg" media="(max-width:1199px)">
            <img src="img/project-2-lg-1.jpg" alt="картинка" class="proj-card__img--lg">
          </picture>

          <div class="proj-card__content proj-card__content--lg">
            <h3 class="proj-card__title title">Cпорная точка зрения</h3>
            <p class="proj-card__text proj-card__text--lg text">
              Ясность нашей позиции очевидна: убеждённость некоторых оппонентов
            </p>
            <p class="proj-card__date proj-card__date--lg date">24 февраля</p>
            <button class="btn trnsp-btn proj-card__btn">О проекте</button>
          </div>
        </article>
      </div>

      <div class="proj-grid__item--lg proj-grid__2--lg">
        <article class="proj__card--lg proj-card">
          <div class="proj-card__hash hash">
            <p class="hash__text">#проектджаз</p>
          </div>

          <picture class="proj-card__picture--lg">
            <source  class="proj-card__img--lg" srcset="img/project-2-lg-2-320.jpg" media="(max-width:767px)">
            <source  class="proj-card__img--lg" srcset="img/project-2-lg-2-768.jpg" media="(max-width:1023px)">
            <source  class="proj-card__img--lg" srcset="img/project-2-lg-2-1024.jpg" media="(max-width:1199px)">
            <img src="img/project-2-lg-2.jpg" alt="картинка" class="proj-card__img--lg">
          </picture>

          <div class="proj-card__content proj-card__content--lg">
            <h3 class="proj-card__title title">Задания по разработке своевременного</h3>
            <p class="proj-card__text proj-card__text--lg text">
              Повседневная практика показывает, что сложившаяся структура организации играет важную роль
            </p>
            <p class="proj-card__date proj-card__date--lg date">2 февраля</p>
            <button class="btn trnsp-btn proj-card__btn">О проекте</button>
          </div>
        </article>
      </div>

      <div class="proj-grid__item--md proj-grid__2--md">
        <article class="proj__card--md proj-card">
          <div class="proj-card__hash hash">
            <p class="hash__text">#ретушь</p>
          </div>

          <picture class="proj-card__picture--md">
            <source  class="proj-card__img--md" srcset="img/project-2-md-1-320.jpg" media="(max-width:767px)">
            <source  class="proj-card__img--md" srcset="img/project-2-md-1-768.jpg" media="(max-width:1023px)">
            <source  class="proj-card__img--md" srcset="img/project-2-md-1-1024.jpg" media="(max-width:1199px)">
            <img src="img/project-2-md-1.jpg" alt="картинка" class="proj-card__img--md">
          </picture>

          <div class="proj-card__content proj-card__content--md">
            <h3 class="proj-card__title title">Забвение</h3>
            <p class="proj-card__text text">
              Идейные соображения высшего порядка, а также убеждённость некоторых оппонентов...
            </p>
            <p class="proj-card__date proj-card__date--md date">20 февраля</p>
            <button class="btn trnsp-btn proj-card__btn">О проекте</button>
          </div>
        </article>
      </div>

      <div class="proj-grid__item--md proj-grid__2--md">
        <article class="proj__card--md proj-card">
          <div class="proj-card__hash hash">
            <p class="hash__text">#портрет</p>
          </div>

          <picture class="proj-card__picture--md">
            <source  class="proj-card__img--md" srcset="img/project-2-md-2-320.jpg" media="(max-width:767px)">
            <source  class="proj-card__img--md" srcset="img/project-2-md-2-768.jpg" media="(max-width:1023px)">
            <source  class="proj-card__img--md" srcset="img/project-2-md-2-1024.jpg" media="(max-width:1199px)">
            <img src="img/project-2-md-2.jpg" alt="картинка" class="proj-card__img--md">
          </picture>

          <div class="proj-card__content proj-card__content--md">
            <h3 class="proj-card__title title">Забвение</h3>
            <p class="proj-card__text text">
              Прежде всего, повышение уровня гражданского сознания говорит о возможностях приоритизации...
            </p>
            <p class="proj-card__date proj-card__date--md date">18 февраля</p>
            <button class="btn trnsp-btn proj-card__btn">О проекте</button>
          </div>
        </article>
      </div>

      <div class="proj-grid__item--sm proj-grid__2--sm">
        <article class="proj__card--sm proj-card">
          <div class="proj-card__hash hash">
            <p class="hash__text">#пейзаж</p>
          </div>
          <picture class="proj-card__picture--sm">
            <source  class="proj-card__img--sm" srcset="img/project-2-sm-1-320.jpg" media="(max-width:767px)">
            <source  class="proj-card__img--sm" srcset="img/project-2-sm-1-768.jpg" media="(max-width:1023px)">
            <source  class="proj-card__img--sm" srcset="img/project-2-sm-1-1024.jpg" media="(max-width:1199px)">
            <img src="img/project-2-sm-1.jpg" alt="картинка" class="proj-card__img--sm">
          </picture>

          <div class="proj-card__content proj-card__content--sm">
            <h3 class="proj-card__title title">Забвение</h3>
            <p class="proj-card__text text">
              Равным образом, сложившаяся структура организации...
            </p>
            <p class="proj-card__date proj-card__date--sm date">15 февраля</p>
            <button class="btn trnsp-btn proj-card__btn">О проекте</button>
          </div>

        </article>
      </div>

      <div class="proj-grid__item--sm proj-grid__2--sm">
        <article class="proj-card proj__card--sm">
          <div class="proj-card__hash hash">
            <p class="hash__text">#предмет</p>
          </div>
          <picture class="proj-card__picture--sm">
            <source  class="proj-card__img--sm" srcset="img/project-2-sm-2-320.jpg" media="(max-width:767px)">
            <source  class="proj-card__img--sm" srcset="img/project-2-sm-2-768.jpg" media="(max-width:1023px)">
            <source  class="proj-card__img--sm" srcset="img/project-2-sm-2-1024.jpg" media="(max-width:1199px)">
            <img src="img/project-2-sm-2.jpg" alt="картинка" class="proj-card__img--sm">
          </picture>

          <div class="proj-card__content proj-card__content--sm">
            <h3 class="proj-card__title title">Забвение</h3>
            <p class="proj-card__text text">
              Безусловно, реализация намеченных плановых заданий обеспечивает...
            </p>
            <p class="proj-card__date proj-card__date--sm date">10 февраля</p>
            <button class="btn trnsp-btn proj-card__btn">О проекте</button>
          </div>
        </article>
      </div>


      <div class="proj-grid__item--sm proj-grid__2--sm">
        <article class="proj-card proj__card--sm">
          <div class="proj-card__hash hash">
            <p class="hash__text">#пейзаж</p>
          </div>
          <picture class="proj-card__picture--sm">
            <source  class="proj-card__img--sm" srcset="img/project-2-sm-3-320.jpg" media="(max-width:767px)">
            <source  class="proj-card__img--sm" srcset="img/project-2-sm-3-768.jpg" media="(max-width:1023px)">
            <source  class="proj-card__img--sm" srcset="img/project-2-sm-3-1024.jpg" media="(max-width:1199px)">
            <img src="img/project-2-sm-3.jpg" alt="картинка" class="proj-card__img--sm">
          </picture>

          <div class="proj-card__content proj-card__content--sm">
            <h3 class="proj-card__title title">Забвение</h3>
            <p class="proj-card__text text">
              Безусловно, курс на социальный национальный...
            </p>
            <p class="proj-card__date proj-card__date--sm date">7 февраля</p>
            <button class="btn trnsp-btn proj-card__btn">О проекте</button>
          </div>

        </article>
      </div>
    </div>

  <ul class="proj-tabs proj-tabs__list">
    <li class="proj-tabs__item">
      <button class="btn proj-tabs__btn proj-tabs__btn--active btn-reset" data-path = "proj-1">1</button>
    </li>
    <li class="proj-tabs__item">
      <button class="btn proj-tabs__btn btn-reset" data-path = "proj-2">2</button>
    </li>
  </ul>
  </div>
</section>
