<section class="services">
  <div class="container">

    <div class="serv-grid serv__switch serv__switch--active" data-target="serv-main">
      <div class="serv-grid__main serv-grid__item">
        <h2 class="serv__title title">Услуги студии</h2>
        <ul class="serv-tabs serv-tabs__list">
          <li class="serv-tabs__item">
            <button class="btn-reset serv-tabs__btn serv-tabs__btn--active" data-path="serv-main">Основной перечень</button>
          </li>
          <li class="serv-tabs__item">
            <button class="btn-reset serv-tabs__btn" data-path="serv-ret">Услуги по ретуши</button>
          </li>
        </ul>

        <ul class="serv-main-grid">
          <li class="serv-main-grid__item">
            <article class="serv-main-card serv-main-card-grid serv-card">
              <picture class="serv-main-card__picture">
                <source  class="serv-main-card__img" srcset="img/serv-1-320.jpg" media="(max-width:767px)">
                <source  class="serv-main-card__img" srcset="img/serv-1-768.jpg" media="(max-width:1023px)">
                <source  class="serv-main-card__img" srcset="img/serv-1-1024.jpg" media="(max-width:1199px)">
                <img src="img/serv-1.jpg" alt="картинка" class="serv-main-card__img">
              </picture>
              <div class="serv-main-card__content">
                <h3 class="serv-main-card__title">
                  <a href="#" class="subtitle serv-card__title">
                      Высокий уровень вовлечени
                  </a>

                </h3>
                <p class="text serv-card__text serv-main-card__text">
                  Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта.
                </p>
                <a class="more-link serv-card__link" href="">
                  <span class="more-link__text">Подробнее</span>
                  <span class="more-link__arrow"></span>
                </a>
              </div>
            </article>
          </li>

          <li class="serv-main-grid__item">
            <article class="serv-main-card serv-main-card-grid serv-card">
              <picture class="serv-main-card__picture">
                <source  class="serv-main-card__img" srcset="img/serv-2-320.jpg" media="(max-width:767px)">
                <source  class="serv-main-card__img" srcset="img/serv-2-768.jpg" media="(max-width:1023px)">
                <source  class="serv-main-card__img" srcset="img/serv-2-1024.jpg" media="(max-width:1199px)">
                <img src="img/serv-2.jpg" alt="картинка" class="serv-main-card__img">
              </picture>
              <div class="serv-main-card__content">
                <h3 class="serv-main-card__title">
                  <a href="#" class="subtitle serv-card__title">
                    Диаграммы связей
                  </a>

                </h3>
                <p class="text serv-card__text serv-main-card__text">
                  Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за собой процесс.
                </p>
                <a class="more-link serv-card__link" href="">
                  <span class="more-link__text">Подробнее</span>
                  <span class="more-link__arrow"></span>
                </a>
              </div>
            </article>
          </li>

          <li class="serv-main-grid__item">
            <article class="serv-main-card serv-main-card-grid serv-card">
              <picture class="serv-main-card__picture">
                <source  class="serv-main-card__img" srcset="img/serv-3-320.jpg" media="(max-width:767px)">
                <source  class="serv-main-card__img" srcset="img/serv-3-768.jpg" media="(max-width:1023px)">
                <source  class="serv-main-card__img" srcset="img/serv-3-1024.jpg" media="(max-width:1199px)">
                <img src="img/serv-3.jpg" alt="картинка" class="serv-main-card__img">
              </picture>
              <div class="serv-main-card__content">
                <h3 class="serv-main-card__title">
                  <a href="#" class="subtitle serv-card__title">
                    Высокотехнологичная концепция
                  </a>

                </h3>
                <p class="text serv-card__text serv-main-card__text">
                  В частности, убеждённость некоторых оппонентов способствует подготовке и реализации анализа существующих паттернов.
                </p>
                <a class="more-link serv-card__link" href="">
                  <span class="more-link__text">Подробнее</span>
                  <span class="more-link__arrow"></span>
                </a>
              </div>
            </article>
          </li>

          <li class="serv-main-grid__item">
            <article class="serv-main-card serv-main-card-grid serv-card">
              <picture class="serv-main-card__picture">
                <source  class="serv-main-card__img" srcset="img/serv-4-320.jpg" media="(max-width:767px)">
                <source  class="serv-main-card__img" srcset="img/serv-4-768.jpg" media="(max-width:1023px)">
                <source  class="serv-main-card__img" srcset="img/serv-4-1024.jpg" media="(max-width:1199px)">
                <img src="img/serv-4.jpg" alt="картинка" class="serv-main-card__img">
              </picture>
              <div class="serv-main-card__content">
                <h3 class="serv-main-card__title">
                  <a href="#" class="subtitle serv-card__title">
                    Сложившаяся структура организации
                  </a>

                </h3>
                <p class="text serv-card__text serv-main-card__text">
                  Кстати,  сторонники тоталитаризма в науке будут объединены в целые кластеры себе подобных.
                </p>
                <a class="more-link serv-card__link" href="">
                  <span class="more-link__text">Подробнее</span>
                  <span class="more-link__arrow"></span>
                </a>
              </div>
            </article>
          </li>

          <li class="serv-main-grid__item">
            <article class="serv-main-card serv-main-card-grid serv-card">
              <picture class="serv-main-card__picture">
                <source  class="serv-main-card__img" srcset="img/serv-5-320.jpg" media="(max-width:767px)">
                <source  class="serv-main-card__img" srcset="img/serv-5-768.jpg" media="(max-width:1023px)">
                <source  class="serv-main-card__img" srcset="img/serv-5-1024.jpg" media="(max-width:1199px)">
                <img src="img/serv-5.jpg" alt="картинка" class="serv-main-card__img">
              </picture>
              <div class="serv-main-card__content">
                <h3 class="serv-main-card__title">
                  <a href="#" class="subtitle serv-card__title">
                    Внутренние резервы и ресурсы
                  </a>

                </h3>
                <p class="text serv-card__text serv-main-card__text">
                  Банальные, но неопровержимые выводы, а также ключевые особенности структуры проекта являются только методом.
                </p>
                <a class="more-link serv-card__link" href="">
                  <span class="more-link__text">Подробнее</span>
                  <span class="more-link__arrow"></span>
                </a>
              </div>
            </article>
          </li>
        </ul>
      </div>

      @include('aside.html')

      <div class="serv-grid__works works serv-grid__item">
        <h2 class="works__title title">Выполненные работы</h2>
        <ul class="serv-work-grid works__list">
          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-main-1-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-main-1-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-main-1-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-main-1.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-main-2-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-main-2-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-main-2-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-main-2.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-main-3-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-main-3-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-main-3-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-main-3.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-main-4-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-main-4-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-main-4-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-main-4.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-main-5-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-main-5-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-main-5-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-main-5.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-main-6-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-main-6-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-main-6-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-main-6.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-main-7-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-main-7-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-main-7-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-main-7.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-main-8-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-main-8-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-main-8-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-main-8.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-main-9-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-main-9-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-main-9-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-main-9.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-main-10-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-main-10-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-main-10-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-main-10.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-main-11-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-main-11-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-main-11-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-main-11.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-main-12-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-main-12-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-main-12-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-main-12.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-main-13-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-main-13-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-main-13-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-main-13.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-main-14-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-main-14-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-main-14-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-main-14.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-main-15-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-main-15-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-main-15-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-main-15.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-main-16-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-main-16-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-main-16-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-main-16.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>
        </ul>
      </div>

    </div>

    <div class="serv-grid serv__switch visually-hidden" data-target="serv-ret">
      <div class="serv-grid__main">
        <h2 class="serv__title title">Услуги студии</h2>
        <ul class="serv-tabs serv-tabs__list">
          <li class="serv-tabs__item">
            <button class="btn-reset serv-tabs__btn" data-path="serv-main">Основной перечень</button>
          </li>
          <li class="serv-tabs__item">
            <button class="btn-reset serv-tabs__btn serv-tabs__btn--active" data-path="serv-ret">Услуги по ретуши</button>
          </li>
        </ul>

        <ul class="serv-ret-grid">
          <li class="serv-ret-grid__item">
            <article class="serv-ret-card serv-ret-card-grid serv-card">
              <picture class="serv-ret-card__picture">
                <source  class="serv-ret-card__img" srcset="img/ret-1-320.jpg" media="(max-width:767px)">
                <source  class="serv-ret-card__img" srcset="img/ret-1-768.jpg" media="(max-width:1023px)">
                <source  class="serv-ret-card__img" srcset="img/ret-1-1024.jpg" media="(max-width:1199px)">
                <img src="img/ret-1.jpg" alt="картинка" class="serv-ret-card__img">
              </picture>
              <div class="serv-ret-card__content">
                <h3>
                  <a href="#" class="subtitle serv-card__title serv-ret-card__title">
                    Принимая во внимание показатели
                  </a>

                </h3>
                <a class="more-link serv-card__link" href="">
                  <span class="more-link__text">Подробнее</span>
                  <span class="more-link__arrow"></span>
                </a>
              </div>
            </article>
          </li>

          <li class="serv-ret-grid__item">
            <article class="serv-ret-card serv-ret-card-grid serv-card">
              <picture class="serv-ret-card__picture">
                <source  class="serv-ret-card__img" srcset="img/ret-2-320.jpg" media="(max-width:767px)">
                <source  class="serv-ret-card__img" srcset="img/ret-2-768.jpg" media="(max-width:1023px)">
                <source  class="serv-ret-card__img" srcset="img/ret-2-1024.jpg" media="(max-width:1199px)">
                <img src="img/ret-2.jpg" alt="картинка" class="serv-ret-card__img">
              </picture>
              <div class="serv-ret-card__content">
                <h3>
                  <a href="#" class="subtitle serv-card__title serv-ret-card__title">
                    Таким образом, выбранный нами...
                  </a>

                </h3>
                <a class="more-link serv-card__link" href="">
                  <span class="more-link__text">Подробнее</span>
                  <span class="more-link__arrow"></span>
                </a>
              </div>
            </article>
          </li>

          <li class="serv-ret-grid__item">
            <article class="serv-ret-card serv-ret-card-grid serv-card">
              <picture class="serv-ret-card__picture">
                <source  class="serv-ret-card__img" srcset="img/ret-3-320.jpg" media="(max-width:767px)">
                <source  class="serv-ret-card__img" srcset="img/ret-3-768.jpg" media="(max-width:1023px)">
                <source  class="serv-ret-card__img" srcset="img/ret-3-1024.jpg" media="(max-width:1199px)">
                <img src="img/ret-3.jpg" alt="картинка" class="serv-ret-card__img">
              </picture>
              <div class="serv-ret-card__content">
                <h3>
                  <a href="#" class="subtitle serv-card__title serv-ret-card__title">
                    Также как высокое качество...
                  </a>

                </h3>
                <a class="more-link serv-card__link" href="">
                  <span class="more-link__text">Подробнее</span>
                  <span class="more-link__arrow"></span>
                </a>
              </div>
            </article>
          </li>

          <li class="serv-ret-grid__item">
            <article class="serv-ret-card serv-ret-card-grid serv-card">
              <picture class="serv-ret-card__picture">
                <source  class="serv-ret-card__img" srcset="img/ret-4-320.jpg" media="(max-width:767px)">
                <source  class="serv-ret-card__img" srcset="img/ret-4-768.jpg" media="(max-width:1023px)">
                <source  class="serv-ret-card__img" srcset="img/ret-4-1024.jpg" media="(max-width:1199px)">
                <img src="img/ret-4.jpg" alt="картинка" class="serv-ret-card__img">
              </picture>
              <div class="serv-ret-card__content">
                <h3>
                  <a href="#" class="subtitle serv-card__title serv-ret-card__title">
                    Безусловно, семантический разбор...
                  </a>

                </h3>
                <a class="more-link serv-card__link" href="">
                  <span class="more-link__text">Подробнее</span>
                  <span class="more-link__arrow"></span>
                </a>
              </div>
            </article>
          </li>

          <li class="serv-ret-grid__item">
            <article class="serv-ret-card serv-ret-card-grid serv-card">
              <picture class="serv-ret-card__picture">
                <source  class="serv-ret-card__img" srcset="img/ret-5-320.jpg" media="(max-width:767px)">
                <source  class="serv-ret-card__img" srcset="img/ret-5-768.jpg" media="(max-width:1023px)">
                <source  class="serv-ret-card__img" srcset="img/ret-5-1024.jpg" media="(max-width:1199px)">
                <img src="img/ret-5.jpg" alt="картинка" class="serv-ret-card__img">
              </picture>
              <div class="serv-ret-card__content">
                <h3>
                  <a href="#" class="subtitle serv-card__title serv-ret-card__title">
                    Внезапно, предприниматели в интернете...
                  </a>

                </h3>
                <a class="more-link serv-card__link" href="">
                  <span class="more-link__text">Подробнее</span>
                  <span class="more-link__arrow"></span>
                </a>
              </div>
            </article>
          </li>

          <li class="serv-ret-grid__item">
            <article class="serv-ret-card serv-ret-card-grid serv-card">
              <picture class="serv-ret-card__picture">
                <source  class="serv-ret-card__img" srcset="img/ret-6-320.jpg" media="(max-width:767px)">
                <source  class="serv-ret-card__img" srcset="img/ret-6-768.jpg" media="(max-width:1023px)">
                <source  class="serv-ret-card__img" srcset="img/ret-6-1024.jpg" media="(max-width:1199px)">
                <img src="img/ret-6.jpg" alt="картинка" class="serv-ret-card__img">
              </picture>
              <div class="serv-ret-card__content">
                <h3>
                  <a href="#" class="subtitle serv-card__title serv-ret-card__title">
                    Есть над чем подумать: активные...
                  </a>

                </h3>
                <a class="more-link serv-card__link" href="">
                  <span class="more-link__text">Подробнее</span>
                  <span class="more-link__arrow"></span>
                </a>
              </div>
            </article>
          </li>

          <li class="serv-ret-grid__item">
            <article class="serv-ret-card serv-ret-card-grid serv-card">
              <picture class="serv-ret-card__picture">
                <source  class="serv-ret-card__img" srcset="img/ret-7-320.jpg" media="(max-width:767px)">
                <source  class="serv-ret-card__img" srcset="img/ret-7-768.jpg" media="(max-width:1023px)">
                <source  class="serv-ret-card__img" srcset="img/ret-7-1024.jpg" media="(max-width:1199px)">
                <img src="img/ret-7.jpg" alt="картинка" class="serv-ret-card__img">
              </picture>
              <div class="serv-ret-card__content">
                <h3>
                  <a href="#" class="subtitle serv-card__title serv-ret-card__title">
                    Сделанные на базе аналитики выводы...
                  </a>

                </h3>
                <a class="more-link serv-card__link" href="">
                  <span class="more-link__text">Подробнее</span>
                  <span class="more-link__arrow"></span>
                </a>
              </div>
            </article>
          </li>

          <li class="serv-ret-grid__item">
            <article class="serv-ret-card serv-ret-card-grid serv-card">
              <picture class="serv-ret-card__picture">
                <source  class="serv-ret-card__img" srcset="img/ret-8-320.jpg" media="(max-width:767px)">
                <source  class="serv-ret-card__img" srcset="img/ret-8-768.jpg" media="(max-width:1023px)">
                <source  class="serv-ret-card__img" srcset="img/ret-8-1024.jpg" media="(max-width:1199px)">
                <img src="img/ret-8.jpg" alt="картинка" class="serv-ret-card__img">
              </picture>
              <div class="serv-ret-card__content">
                <h3>
                  <a href="#" class="subtitle serv-card__title serv-ret-card__title">
                    Как принято считать, сторонники...
                  </a>

                </h3>
                <a class="more-link serv-card__link" href="">
                  <span class="more-link__text">Подробнее</span>
                  <span class="more-link__arrow"></span>
                </a>
              </div>
            </article>
          </li>

          <li class="serv-ret-grid__item">
            <article class="serv-ret-card serv-ret-card-grid serv-card">
              <picture class="serv-ret-card__picture">
                <source  class="serv-ret-card__img" srcset="img/ret-9-320.jpg" media="(max-width:767px)">
                <source  class="serv-ret-card__img" srcset="img/ret-9-768.jpg" media="(max-width:1023px)">
                <source  class="serv-ret-card__img" srcset="img/ret-9-1024.jpg" media="(max-width:1199px)">
                <img src="img/ret-9.jpg" alt="картинка" class="serv-ret-card__img">
              </picture>
              <div class="serv-ret-card__content">
                <h3>
                  <a href="#" class="subtitle serv-card__title serv-ret-card__title">
                    Задача организации, в особенности...
                  </a>

                </h3>
                <a class="more-link serv-card__link" href="">
                  <span class="more-link__text">Подробнее</span>
                  <span class="more-link__arrow"></span>
                </a>
              </div>
            </article>
          </li>

          <li class="serv-ret-grid__item">
            <article class="serv-ret-card serv-ret-card-grid serv-card">
              <picture class="serv-ret-card__picture">
                <source  class="serv-ret-card__img" srcset="img/ret-10-320.jpg" media="(max-width:767px)">
                <source  class="serv-ret-card__img" srcset="img/ret-10-768.jpg" media="(max-width:1023px)">
                <source  class="serv-ret-card__img" srcset="img/ret-10-1024.jpg" media="(max-width:1199px)">
                <img src="img/ret-10.jpg" alt="картинка" class="serv-ret-card__img">
              </picture>
              <div class="serv-ret-card__content">
                <h3>
                  <a href="#" class="subtitle serv-card__title serv-ret-card__title">
                    Активно развивающиеся страны...
                  </a>

                </h3>
                <a class="more-link serv-card__link" href="">
                  <span class="more-link__text">Подробнее</span>
                  <span class="more-link__arrow"></span>
                </a>
              </div>
            </article>
          </li>
        </ul>
      </div>

      @include('aside.html')

      <div class="serv-grid__works works serv-grid__item">
        <h2 class="works__title title">Выполненные работы</h2>
        <ul class="serv-work-grid works__list">
          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-ret-1-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-ret-1-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-ret-1-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-ret-1.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-ret-2-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-ret-2-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-ret-2-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-ret-2.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-ret-3-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-ret-3-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-ret-3-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-ret-3.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-ret-4-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-ret-4-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-ret-4-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-ret-4.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-ret-5-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-ret-5-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-ret-5-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-ret-5.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-ret-6-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-ret-6-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-ret-6-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-ret-6.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-ret-7-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-ret-7-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-ret-7-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-ret-7.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-ret-8-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-ret-8-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-ret-8-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-ret-8.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-ret-9-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-ret-9-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-ret-9-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-ret-9.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-ret-10-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-ret-10-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-ret-10-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-ret-10.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-ret-11-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-ret-11-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-ret-11-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-ret-11.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-ret-12-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-ret-12-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-ret-12-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-ret-12.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-ret-13-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-ret-13-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-ret-13-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-ret-13.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-ret-14-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-ret-14-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-ret-14-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-ret-14.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-ret-15-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-ret-15-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-ret-15-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-ret-15.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>

          <li class="works__item work-card">
            <picture class="work-card__picture">
              <source  class="work-card__img" srcset="img/work-ret-16-320.jpg" media="(max-width:767px)">
              <source  class="work-card__img" srcset="img/work-ret-16-768.jpg" media="(max-width:1023px)">
              <source  class="work-card__img" srcset="img/work-ret-16-1024.jpg" media="(max-width:1199px)">
              <img src="img/work-ret-16.jpg" alt="картинка" class="work-card__img">
            </picture>
          </li>
        </ul>
      </div>
    </div>


  </div>
</section>
