// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-mine: #333333;
  --color-dove: #666666;
  --color-dusty: #999999;
  --color-silver: #C4C4C4;
  --color-social: #cacaca;
  --color-mineDark: #202020;
  --color-tundora: #4A4A4A;
  --color-mercury: #E9E9E9;
  --color-bluewood: #223444;
  --color-burningOrange: #FF6E30;
  --color-tuscany: #BC572B;
  --color-grenadier: #CE4307;
  --color-sienna: #F06666;
  --color-romantic: #FFD4C1;
  --color-yellow: #FFF500;
  --container-width: 1350px;
  --container-width-tablet-album: 1023px;
  --container-width-tablet-portrait: 767px;
  --container-width-mobile: 279px;
  --gap: 30px;
  --offset: 30px;
  --offset-tablet-album: 30px;
  --offset-tablet-portrait: 26px;
  --offset-moblie: 30px;
  --burger-width: 20px;
  --burger-height: 20px;
  --burger-line-height: 2px;
}

